<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 http://maven.apache.org/xsd/maven-1.0.0.xsd">
    <servers>
        <server>
            <id>github</id> <!-- 🔹 Matches the ID in pom.xml -->
            <username>vje123</username>
            <password>${env.GITHUB_TOKEN}</password>
        </server>
    </servers>
</settings>
